<div class="rndContainer">
<div class="action">

  <div class="header">confirmation</div>
  <div class="content">
    <div class="col-12">
      <div class="row border-bottom">
        <div class="col-2"><img src="http://roundpay.net/Image/operator/71.png"></div>
        <div class="col-10">
          <span>
            Operator
          </span>
          <div class="text">Assam Power Distribution Company Ltd (RAPDR)</div>
        </div>
      </div>
      <div class="row  mt-2">
          <div class="col-2"></div>
          <div class="col-10">
            <div class="row">
              <div class="col-6"><span>Consumer Number</span></div>
              <div class="col-6 text">11111111111</div>
            </div>
          </div>
        </div>
        <div class="row  mt-2 border-bottom pb-2">
            <div class="col-2"></div>
            <div class="col-10">
                <div class="row">
                    <div class="col-6"><span>Bill Amount</span></div>
                    <div class="col-6 text">1/- </div>
                  </div>
             
            </div>
          </div>
          <div class="row  mt-2 border-bottom pb-2  text-success">
              <div class="col-2"></div>
              <div class="col-10">
                <div class="row">
                   <div class="col-6"><img style="width: 15px;margin-right: 5px;" src="https://icons-for-free.com/iconfiles/png/512/wallet+icon-1320190636366256884.png"><span>Wallet Balance</span></div>
                  <div class="col-6 text">80/-</div>
                </div>
              </div>
            </div>
            <div class="row  mt-2 border-bottom pb-2 text-danger cus-text">
                <div class="col-2"></div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-6"><span>Amount to Pay </span></div>
                        <div class="col-6 text">1/- </div>
                      </div>
                </div>
              </div>
    </div>
  </div>
  <div class="footer">
      <a  class="btn payment-btn cus-recharge-btn">Confirm payment </a>
  </div>
</div>
</div>