<footer id="footer" class="d-md-block d-none">
  <section class="section bg-light shadow-md pt-4 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="featured-box text-center">
            <div class="featured-box-icon"> <i class="fas fa-lock"></i> </div>
            <h4>100% Secure Payments</h4>
            <p>Moving your card details to a much more secured place.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="featured-box text-center">
            <div class="featured-box-icon"> <i class="fas fa-thumbs-up"></i> </div>
            <h4>Trust pay</h4>
            <p>100% Payment Protection. Easy Return Policy.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="featured-box text-center">
            <div class="featured-box-icon"> <i class="fas fa-bullhorn"></i> </div>
            <h4>Refer & Earn</h4>
            <p>Invite a friend to sign up and earn.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="featured-box text-center">
            <div class="featured-box-icon"> <i class="far fa-life-ring"></i> </div>
            <h4>24X7 Support</h4>
            <p>We're here to help. Have a query and need help ? <a href="#">Click here</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
    <div class="nav navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/aboutus.html">About Us</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="/privacypolicy.html">Privacy Policy</a>
            </li><li class="nav-item ">
              <a class="nav-link" routerLink="/refundAndCancellation.html">Refund And Cancellation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/termsconditions.html">Terms & Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/help.html">24x7 Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contactus.html">Contact Us</a>
              </li>
          </ul>
          <div  class="social-icon">
            <a target="_blank"><i aria-hidden="true" class="fa fa-facebook fb-icon"></i></a>
            <a target="_blank"><i aria-hidden="true" class="fa fa-twitter twitter-icon"></i></a>
            <a target="_blank"><i aria-hidden="true" class="fa fa-instagram"></i></a>
            <a target="_blank"><i aria-hidden="true" class="fa fa-youtube-play"></i></a>
            <a target="_blank"><i aria-hidden="true" class="fa fa-pinterest-p"></i></a>
          </div>
    </div>
   
  
</footer><!-- Footer end -->