<div class="cus-container">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="form-outter-sec row">
          <div class="container col-md-4">
            <div class="succes-page">
              <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png">
              <h3>{{RechargeSuccessful}}</h3>
              <span>We are processing the same and you will notified via email</span>
            </div>
            <div class="succes-amount">
              <table class="table">
                <thead>
                  <tr>
                    <td>Transaction#</td>
                    <td class="text-right">{{data.TransactionID}} </td>
                  </tr>
                  <tr>
                    <td>Date </td>
                    <td class="text-right">{{data.Date}} </td>
                  </tr>
                  <tr>
                    <td>Mode of Payment </td>
                    <td class="text-right">{{data.Mode}} </td>
                  </tr>
                  <tr>
                    <td>Transaction Status </td>
                    <td class="text-right">{{data.Status}} </td>
                  </tr>
                  <tr>
                    <td>Mobile Number </td>
                    <td class="text-right">{{data.Mobile}} </td>
                  </tr>
                  <tr>
                    <td>Subject </td>
                    <td class="text-right">{{MobileRecharge}}</td>
                  </tr>
                  <tr>
                    <td>Payment Amount </td>
                    <td class="text-right">{{data.Amount}}/- </td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
