<div class="cus-container">
    <div class="container-fluid">
        <div class="row">
           <div class="col-md-4">
              <div class="form-outter-sec">
                 <div class="container">
                    <h3>Pay Your Insurance Premium</h3>
                    <form [formGroup]="RechargeForm">

                        <div class="form-group row">
                          
                           <div class="col-md-12">
                              <div class="form-group  cus-form-check-inline">
                                 <label>Operator</label>
                                 <select2 [data]="OperatorData" class="form-control" [value]="operator"  (valueChanged)="Operatorchanged($event)"  dropdownPosition="bottom" [cssImport]=true [options]="OperatorOptions"></select2>
                                 <span class="errorMsg" *ngIf="operator==0 && IsRechargeSubmitted">Select Operator</span>
                              </div>
                           </div>
                           <div class="col-md-12">
                                 <div class="form-group cus-form-check-inline">
                                    <!-- <label>Mobile Number</label> -->
                                    <input type="text"  [(ngModel)]="mobile" formControlName="mobile" [ngClass]="{'is-invalid':r.mobile.errors && IsRechargeSubmitted}" class="form-control cus-form-control"  placeholder="{{MobileplaceHolder}}">
                                    <span class="accountRemark">{{AccountRemark}}</span>
                                    <div *ngIf="r.mobile.errors && IsRechargeSubmitted">
                                          <span class="errorMsg" *ngIf="r.mobile.errors.required">{{MobileplaceHolder}} Required</span>
                                          <span class="errorMsg" *ngIf="r.mobile.errors.minlength || r.mobile.errors.maxlength">{{MobileplaceHolder}} should be between {{odata.length}} to {{odata.lengthMax}}</span>
                                        </div>
                                 </div>
                              </div>
                          
                           <div class="col-md-12">
                                 <div class="form-group cus-form-check-inline">
                                    <!-- <label>Mobile Number</label> -->
                                    <input type="text" class="form-control cus-form-control"  placeholder="Mobile Number">
                                 </div>
                              </div>
                              
                             <div class="col-md-12">
                                <div class="form-group form-check-inline cus-form-check-inline">
                                   <input type="text" class="form-control cus-form-control" placeholder="Date Of Birth" >
                                   
                                </div>
                             </div>
                         
                             <div class="col-md-12">
                                 <div class="form-group cus-form-check-inline">
                                     <input type="text" class="form-control cus-form-control" placeholder="Amount" [(ngModel)]="amount" formControlName="amount" [ngClass]="{'is-invalid':r.amount.errors && IsRechargeSubmitted}" >
                                     <div *ngIf="r.amount.errors && IsRechargeSubmitted">
                                         <span class="errorMsg" *ngIf="r.amount.errors.required">Amount Required</span>
                                         <span class="errorMsg" *ngIf="r.amount.errors.min || r.amount.errors.max">Amount should be between {{odata.min}} to {{odata.max}}</span>
                                         
                                       </div>
                                    <!-- <a href="" class="Browse-plan">  Fetch Bill</a> -->
                                 </div>
                              </div>
                           <div class="col-md-12">
                              <button type="submit" class="btn btn-primary cus-recharge-btn" (click)="proceedToAction()">Proceed to Pay</button>
                           </div>
                        </div>
                     </form>
                  
                 </div>
              </div>
           </div>
           <div class="col-md-8">
            <div class="form-outter-sec">
                  <div class="slider">
                   <ngx-slick-carousel class="carousel" 
                   #slickModal="slick-carousel" 
                   [config]="slideConfig" 
                  
                   >
   <div ngxSlickItem *ngFor="let slide of slides" class="slide">
         <img src="{{ slide.resourceUrl }}" alt="" width="100%">
   </div>
 </ngx-slick-carousel>
 </div>
                 
               </div>
        </div>
        </div>
     </div>
    </div>