


<div class="modal-content">

  <div class="modal-body">
    <div class="text-center">

      <!--<p>Scan the QR code using your UPI apps</p>-->
      <!--<img class="mb-3 mt-3" src="{{Domain}}/Image/QRImg/UPI.png" style="width: 57%;">-->
      <p><img class="img-thumbnail" src="{{QrCode}}" alt="QR Code" style="width:250px"></p>
      <!--<p>Your virtual account detail for instant wallet payment</p>
      <div class="text-secondary">BANK : {{BankName}}</div>
      <div class="text-secondary">IFSC : {{IFSC}}</div>
      <div class="text-secondary">VirtualAccount :{{VirtualAccount}}</div>
      <button class="btn btn-outline-primary w-75 mt-3 mb-2" id="mdlCancel">Close</button>-->
    </div>
  </div>
</div>
