<div class="cus-container">
    <div class="container-fluid">
      <div class="heading"> <i class="fa fa-address-card" aria-hidden="true"></i> About us</div>
      <div class="contect">
        Cashpe.net is one of the India's fastest growing instant prepaid recharge portal. Cashpe.net provides recharge service for all major prepaid mobile & DTH (TV) service providers in India. We aim at empowering our users by providing quick and convenient prepaid mobile recharge as well as DTH (TV) recharge. Cashpe.net is completely reliable in terms of services and security. We at Cashpe.net believe that customer satisfaction should be the primary objective of any successful company.
      </div>
    </div>
</div>