<div class="cus-container">
<div class="container">
    <div class="row">
       <div class="col-md-4">
          <div class="form-outter-sec">
             <div class="container">
                <h3>Postpaid Mobile Bill Payment</h3>
                <form [formGroup]="RechargeForm">                   
                   
                   <div class="form-group row">
                      <div class="col-md-12">
                         <div class="form-group cus-form-check-inline">
                            <input type="phone" [(ngModel)]="mobile" formControlName="mobile" maxlength="10" [ngClass]="{'is-invalid':(r.mobile.errors && IsRechargeSubmitted)||(!mobile && r.mobile.touched)}" class="form-control cus-form-control"   placeholder="Mobile Number">
                            <div *ngIf="(r.mobile.errors && IsRechargeSubmitted)||!mobile">
                                 <span class="errorMsg" >{{spnMobile}}</span>
                               </div>
                         </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group  cus-form-check-inline">
                          <label>Operator</label>
                          <!--<select2 [data]="OperatorData" class="form-control" [value]="operator" (valueChanged)="Operatorchanged($event)" dropdownPosition="bottom" [cssImport]=true [options]="OperatorOptions"></select2>-->
                          <mat-form-field class="example-full-width">
                            <input type="text" placeholder="" matInput formControlName="myControl" [matAutocomplete]="auto">
                            <a (click)="inputclear(0)" class="Browse-plan">  <i class="fa fa-times"></i> </a><!--[formControl]="myControl"-->
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="Operatorchangednew($event)" [displayWith]="displayFn">
                              <mat-option  *ngFor="let option of filteredOperator | async" [value]="option">
                                <!--<img [src]="transform('{{option.additional.image}}')"/> {{option.text}}-->
                                <img [src]="transform(option.additional.image)" /> {{option.text}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                          <span class="errorMsg" *ngIf="operator==0 && IsRechargeSubmitted">Select Operator</span>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group  cus-form-check-inline">
                          <label>Circle</label>
                          <!--<select2 [data]="CircleData" class="form-control "  [value]="circle"  (valueChanged)="Circlechanged($event)" dropdownPosition="bottom" [cssImport]=true [options]="CircleOptions"></select2>-->
                          <mat-form-field class="example-full-width">
                            <input type="text" placeholder="" matInput formControlName="myControlCircle" [matAutocomplete]="auto1">
                            <a (click)="inputclear(1)" class="Browse-plan">  <i class="fa fa-times"></i> </a><!--[formControl]="myControl"-->
                            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="Circlechangednew($event)" [displayWith]="displayFnCircle">
                              <mat-option  *ngFor="let option1 of filteredCircle | async" [value]="option1">
                                {{option1.text}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                          <span class="errorMsg" *ngIf="circle==0 && IsRechargeSubmitted">Select Circle</span>
                        </div>
                      </div>
                      <div class="col-md-12">
                         <div class="form-group form-check-inline cus-form-check-inline">
                            <input type="text" class="form-control cus-form-control" placeholder="Amount" formControlName="amount" [(ngModel)]="amount" [ngClass]="{'is-invalid':(r.amount.errors && IsRechargeSubmitted)||(!mobile && r.mobile.touched)}"  >
                            <a href="" class="Browse-plan" *ngIf="IsBBPS && IsBilling"> Fetch Bill</a>
                         </div>
                      </div>
                      <div class="col-md-12">
                        <div *ngIf="(r.amount.errors && IsRechargeSubmitted)||!amount">
                           <span class="errorMsg" >{{spnAmount}}</span>
                         </div>
                      </div>
                      <div class="col-md-12">
                         <button type="submit" class="btn btn-primary cus-recharge-btn" (click)="proceedToAction()">Proceed to Recharge</button>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
       <div class="col-md-8">
            <div class="form-outter-sec">
                  <div class="slider">
                   <ngx-slick-carousel class="carousel" 
                   #slickModal="slick-carousel" 
                   [config]="slideConfig" 
                  
                   >
   <div ngxSlickItem *ngFor="let slide of slides" class="slide">
         <img src="{{ slide.resourceUrl }}" alt="" width="100%">
   </div>
 </ngx-slick-carousel>
 </div>
               </div>
       </div>
    </div>
 </div>
</div>
