<div class="addmoney-button">
  <span class="btn" (click)="openQuickVIewPopup(AddMoneyPopup)" id="btnTemo"><i class="fa fa-plus" aria-hidden="true"></i> Add Money to Wallet</span>
</div>
<ng-template #AddMoneyPopup>
  <div class="modal-header">
    <h4 class="modal-title pull-left title"><i class="fa fa-plus" aria-hidden="true"></i> Add Money to Wallet</h4>
    <button type="button" class="close pull-right" (click)="closeQuickVIewPopup()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="content">
      <div class="wallet-img">
        <i class="fas fa-3x fa-wallet"></i>
        <h4>
          ₹ {{balance}} <a title="Refresh Wallet Balance"><i aria-hidden="true" class="{{gettingBalanceSpinClass}}" style="font-size: 15px;color: #607D8B;" (click)="getWalletbalance()"></i></a>
          <br>
          <span>Your Wallet Balance</span>
        </h4>




      </div>

      <div *ngIf="TID==0">
        <form [formGroup]="AdmoneyForm">
          <div class="addmoney-form">
            <label>Enter Amount</label>
            <input type="number" class="form-control" min="1" id="addmoney" max="10000" formControlName="amount" [(ngModel)]="amount" (ngModelChange)="changeAmountCharged()" placeholder="Amount" />
            <span *ngIf="IsErrorInValidation" class="text-danger">{{ErrorMsg}}</span>
          </div>
          <div class="custom_radio ">
            <label>Choose Payment Option</label>
            <ul *ngIf="!showQrCode">
              <li *ngFor="let op of Paymentoperators">
                <div class="row" (click)="radioCheckedChange(op.oid,op.charge,op.spKey,op.chargeAmtType)">
                  <div class="col-md-2">
                    <img src="{{Domain}}/Image/operator/{{op.oid}}.png" style="width: 37px;">
                  </div>
                  <div class="col-md-10">
                    <input type="radio" name="RDOopList" id="rdo{{op.oid}}" [checked]="op.oid==PaymodeID" />
                    <label for="rdo{{op.oid}}"> {{op.name}}</label>
                    <p class="addmoney-charge">Charges:{{op.charge}}%</p>
                  </div>
                </div>
              </li>
            </ul>
            <aditya-paywith-qr *ngIf="showQrCode"></aditya-paywith-qr>
            <div *ngIf="IsVPA==true">

              <input type="text" *ngIf="!showQrCode" class="form-control" placeholder="Enter UPI ID" formControlName="vpa" [(ngModel)]="vpa" />

            </div>
            <span (click)="PaywithQR()" style="background: #3badc7; padding: 8px; color: #fff; border-radius: 5px; position: relative; display: block; margin: auto; text-align: center; top: 4px; cursor: pointer;">{{btntext}}</span>
          </div>
          <div class="addmoney-button" *ngIf="PaymodeID > 0">
            <span class="cus-text">Amount Charged:₹ {{AmountCharged}}</span>
            <span class="btn" (click)="proceedToPay()">Proceed to Pay</span>
          </div>
        </form>
      </div>
      <div *ngIf="TID>0 && IsICICUpi==true" class="top-waiting">
        <div>UPI Owner<span class="text-secondary">:{{this.vpa}}</span></div>
        <div><img src="{{this.Domain}}/Image/QRImg/icon/{{upiImg}}.png" alt="upi image"></div>
        <span style=" position: relative; text-align:justify;">
          Please open & complete the payment of <span class="text-primary"><i class="fas fa-rupee-sign">{{amount}}</i></span> in your {{UPINamedis}} within
        </span>
      </div>
      <app-count-down *ngIf="PGStatus==1 && TID>0" [stratimerp]="[stratimerc]" (reloadWin)="reloadWindow(1)"></app-count-down>
      <div *ngIf="PGStatus==1 && IsICICUpi==true "><img src="./assets/img/loader.gif" style="width: 75px; display: block; margin: auto; padding: 10px;" /></div>
      <div *ngIf="TID>0" class="text-center">
        <span *ngIf="PGStatus==1 && IsICICUpi==false" style=" position: relative; left: 29px;">Waiting for gateway confirmation...</span>
        <span *ngIf="PGStatus==2">Wallet updated Successful</span>
        <!--<span *ngIf="PGStatus==3">Payment Failed</span>-->
        <div *ngIf="PGStatus==3"><img src="./assets/img/failed.gif" style="width: 75px; display: block; margin: auto; padding: 10px;" /></div>
        <span *ngIf="PGStatus==3" style=" position: relative; text-align:justify;">
          Your Order {{TID}}  for Amount {{AmountCharged}} is awaited from Bank Side
          We will Update once get Response From Bank Side.
        </span>
        <span *ngIf="PGStatus==4">Recharge Initiated...</span>
      </div>

      <div *ngIf="TID>0 && IsICICUpi==true" class="top-waiting">
        <div>Do not press the back button untill the payment is complete</div>
        <button class="btn btn-outline-primary w-75 mt-4" id="mdlCancel" (click)="closeQuickVIewPopup()">Close</button>
        <span *ngIf="PGStatus==4">Recharge Initiated..</span>
      </div>

    </div>
  </div>

 
</ng-template>
